#dial {
 height: 150px;
 width: 150px;
 background: no-repeat center/85% url(/homework/responsive_media/weather-images/wind-pointer.png);
 z-index: 100;
 margin: -.6em auto 0;
}
 /* 8 ways  */
.n {
    transform: rotate(0deg);
}
.ne{
    transform: rotate(45deg)
}
.e {
    transform: rotate(90deg)
}
.se {
    transform: rotate(135deg)
}
.s {
    transform: rotate(180deg)
}
.sw {
    transform: rotate(225deg)
}
.w {
    transform: rotate(270deg)
}
.nw {
    transform: rotate(315deg)
}
